* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(255, 210, 255);
}
header {
  color: white;
  padding: 10px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(68, 68, 68);
}
header button, form button, ul li button, .top button {
  padding: 5px 10px;
  font-size: 15px;
  background-color: rgb(204, 35, 35);
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
form {
  margin-top: 50px;
  width: 100%;
  padding: 10px 200px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
form input {
  font-size: 18px;
  padding: 3px 5px;
  width: 60%;
}
form button, .top button {
  font-size: 18px;
  padding: 3px 10px;
  background-color: rgb(28, 141, 28);
}
ul {
  padding: 10px 200px;
  text-align: center;
}
ul li {
  list-style: none;
  border: 1px solid black;
  background-color: rgba(96, 96, 255, 0.541);
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.todo-value {
  font-weight: bold;
  cursor: pointer;
}
.top {
  text-align: center;
  padding: 20px 200px;
}
strike {
  cursor: pointer;
}